<form action="/user/favorites" method="POST">
    <button type="submit"
        class="absolute top-4 right-4 z-20 w-10 h-10 bg-slate-950/50 backdrop-blur-md rounded-full flex items-center justify-center border border-slate-700/50 hover:bg-slate-900 hover:border-[#ff385c]/50 hover:scale-110 active:scale-90 transition-all group/star shadow-xl">
        
        <svg class="w-5 h-5 transition-all duration-300 <%= isFavorite ? 'text-[#ff385c] fill-[#ff385c]' : 'text-slate-200 group-hover/star:text-[#ff385c] group-hover/star:fill-[#ff385c]' %>"
            fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z">
            </path>
        </svg>

    </button>
    <input type="text" name="id" value="<%=home._id%>" hidden>
</form>